
#loginForm {
    position: absolute; /* Permite ubicar el elemento en cualquier parte de la pantalla */
    top: 50%; /* Centra verticalmente */
    right: 5%; /* Lo alinea al lado derecho */
    transform: translateY(-50%); /* Ajusta la posición vertical para que quede centrado */
    width: 400px; /* Ajusta el ancho del formulario */
    height: 480px; /* Ajusta el ancho del formulario */
    background-color: #302d2dbd; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para un diseño elegante */
}

#loginForm .container-login {
    position: fixed; /* Para que esté sobre el contenido */
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo semitransparente */
    display: none; /* Inicialmente oculto */
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 100;
}



#loginForm .form-content {
    width: 100%;
    max-width: 450px;
    background-color: #2C2F35;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


#loginForm .form-content h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: white;
    position: relative;
}

#loginForm .form-content h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #04BD7D;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

#loginForm .input-field{
    background-color: #515966;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 05s;
    overflow: hidden;
}

#loginForm input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #FFFF;
}

#loginForm input::placeholder{
    color: white;
}

#loginForm .input-field i{
    margin: 15px;
    color: #04BD7D;
}


#loginForm form p {
    color: white;
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
}

#loginForm form p a {
    color: #04BD7D; /* Color verde atractivo */
    text-decoration: none; /* Quitar subrayado */
    font-weight: bold; /* Resaltar el enlace */
    margin-left: 5px;
    transition: color 0.3s ease; /* Efecto de transición suave para el color */
}

#loginForm form p a:hover {
    color: #028a5b; /* Color más oscuro en el hover */
    text-decoration: underline; /* Subrayado en el hover */
}

#loginForm .btn-field{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center; 
    align-items: center; 
}

#loginForm .btn-field button{
    flex-basis: 48%;
    font-size: 16px;
    background-color: #04BD7D;
    
    color:white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

#loginForm .btn-field button:hover {
    background-color: #133c2e; 
}

